
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color:#ffaadc;
}

li {
    float: left;
}

li a{
    display: block;
    color:#477577;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: cornflowerblue;
}

.container{
    background-color: pink;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 400px;
    gap: 10 px;
    padding: 15px;
    margin: 10px;
}